.profile__add-btn {
  position: absolute;
  right: -40px;
  top: -45px;
  background-image: url(../../../images/close-icon.svg);
  background-position: center;
  width: 50px;
  height: 50px;
  transition: 0.3s 0s opacity ease-in;
  background-color: transparent;
  border: none;
  padding: 0;
}

.profile__add-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 760px) {
  .profile__add-btn {
    width: 268px;
  }
}

@media screen and (max-width: 600px) {
  .profile__add-btn {
    width: calc(100% - 38px);
  }
}

