.pop-up__reset-btn {
  position: absolute;
  right: 0;
  top: 0;
  background-image: url(../../../images/Close-Icon.svg);
  background-size: cover;
  transform: translate(80%, -95%);
  width: 40px;
  height: 40px;
  transition: 0.3s 0s opacity ease-in;
}

.pop-up__reset-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}