@import url(./__container/pop-up__container.css);
@import url(./__info-input/pop-up__info-input.css);
@import url(./__input-line/pop-up__input-line.css);
@import url(./__title/pop-up__title.css);
@import url(./__name/pop-up__name.css);
@import url(./__bio/pop-up__bio.css);
@import url(./__save-btn/pop-up__save-btn.css);
@import url(./__reset-btn/pop-up__reset-btn.css);

.pop-up {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}